header {
    background-color: #ffffff;
}
.error {
    color: red;
    font-size: 12px;
    min-height: 18px; 
    display: block;
    margin-bottom: 8px;
}
.index {
    background-color: #3b82f6;
    min-height: 100vh;        
    display: flex;
    justify-content: center;  
    align-items: center;      
}
.index-card {
    background-color: #ffffff;
    color: black;
    width: 330px;
    padding: 20px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;   
    gap: 12px;                
}
.index-card input {
    background-color: rgb(180, 180, 180);
    border-radius: 40px;
    height: 50px;
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
    border: none;
    outline: none;
}
.index-card button {
    width: 100%;
    height: 60px;
    background-color: rgb(180, 180, 180);
    border-radius: 40px;
    border: none;
    cursor: pointer;
}
