.head{
    width:1200px;
    height:150px;
    display: flex;              
    justify-content: space-between;
    align-items: center;
}
footer {
    background-color: rgb(180, 180, 180);
    width: auto;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-card {
    width: 500px;
    height: 350px;
    background-color: #ffffff;
    border-radius: 40px;
    padding: 25px;               
    display: flex;              
    flex-direction: column;
    gap: 12px;                  
    box-sizing: border-box;
}
.footer-card input {
    background-color: rgb(180, 180, 180);
    border-radius: 40px;
    height: 50px;
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
    border: none;
    outline: none;
}
.footer-card button {
    width: 100%;
    height: 60px;
    background-color: rgb(180, 180, 180);
    border-radius: 40px;
    position: static;
    border: none;
    cursor: pointer;
}
